{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <h1 class="text-2xl bg-orange-100 rounded-lg w-50 h-50 indent-8 mt-6">
    est ce que cela fonctionne!!
    </h1>
{% endblock %}
